// color
$primary-color: #b4cce0;
$secondary-color: #eefcff;

$base-bg-color: rgb(241, 245, 247);
$board-bg-color: #fff;

$text-base-color: #616161;
$icon-border-color: rgb(165, 204, 209);

// size
$font-lg: 20px;
$font-md: 16px;
$font-sm: 14px;

$heart-size: 32px;
$avatar-size: 32px;
$header-avatar-size: 40px;
$image_size: 46px;
$profile-image_size: 56px;
$back-icon-size: 16px;

// margin-padding
$container-padding: 16px;
$header-padding-y: 16px;
