@import 'variables';

.header {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  padding: $header-padding-y 16px;
  font-weight: bold;

  a {
    color: rgb(32, 32, 32);
  }

  &_loginBtn {
    background-color: $base-bg-color;
    height: $header-avatar-size;
    border-radius: 8px;
    font-size: 12px;
    padding: 12px 16px;
    color: $primary-color;
  }

  &_title {
    color: rgb(37, 36, 36);
    line-height: $header-avatar-size;
    font-size: $font-lg;
  }

  &_avatar {
    width: $header-avatar-size;
    height: $header-avatar-size;
    border-radius: 100%;
  }
}