@import './variables';

.task_form {
    height: 100%;
    position: relative;
}

.task {
  margin: 16px 0;
  position: relative;

  &_title {
    font-size: $font-md;
    margin-bottom: 50px;
    font-weight: bold;
    width: 80%;
  }

  &_image {
    height: 180px;
    position: relative;
    overflow: hidden;
    margin: $container-padding * -1 $container-padding * -1 16px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 90%;
      border-radius: 7%;
    }
  }


  &_text {
    background-color: #f0f0f0;
    width: 100%;
    font-size: $font-sm;
    padding: 20px;
    text-overflow: ellipsis;
  }

  &_detail {
    padding-top: 10px;
    display: flex;
    font-size: 10px;
    position: absolute;
    right: 10px;
    top: -15px;

    img {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 16px;
    }
  }

}
